
 .goBack {
    width: 40px;
    height: 40px;

    border: 1px solid #151533;
    border-radius: 50px;

    color: #fff;

    position: fixed;

    margin: 0 10px 15px 10px;
   
    right: 0;
    bottom: 0;  

    cursor: pointer;
    background: #283673;
  }
