
.question {
  background: #fefefe;
  border-radius: 1px;
  box-shadow: 0 2px 12px rgb(211, 211, 211);
  padding: 24px;

  & + .question {
    margin-top: 18px;
    margin-bottom: 18px;
  }

  &.highlighted {
    background: #F4F0FF;

    // main color: 835afd;
    border: 1px solid #283673;
    border-radius: 1px;
  }

  &.answered {
    background: #dbdcdd;
  }

  p {
    color: grey;
    word-wrap: break-word;
  }

  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;

    .user-info {
      display: flex;
      align-items: center;

      img {
        width: 32px;
        height: 32px;
        border-radius: 50px;
      }

      span {
        margin-left: 8px;
        color: #737380;
        font-size: 14px;
      }
    }

    > div {
      display: flex;
      gap: 16px;

      > a {
        height: 25px;
      }

    }

    button {
      border: 0;
      background: transparent;
      cursor: pointer;

      &.like-button {
        display: flex;
        align-items: flex-end;
        color: #737380;
        gap: 8px;

        &.liked {
          // main color: 835afd;
          color: #278d62;

          svg path {
            stroke: #278d62;
          }
        }
      }

      &:hover {
        filter: brightness(0.8);
      }
    }
  }
}
