.room-code {
  height: 30px;
  border-radius: 8px;
  overflow: hidden;

  background: #fff;
  border: 1px solid #835afd;
  cursor: pointer;
  display: flex;

  div {
    height: 30px;
    background: #835afd;
    padding: 0 12px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  span {
    margin-top: 7px;
    display: block;
    align-items: center;
    flex: 1;
    padding: 0 16px 0 12px;
    width: 240px;
    font-size: 12.5px;
    font-weight: 500;
    color: rgb(121, 118, 118);
  }
}
