#page-room {
  header {
    padding: 24px;
    border-bottom: 1px solid #e2e2e2;

    .content {
      max-width: 1120px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;

      > img {
        max-height: 45px;
      }

      > div {
        display: flex;

        gap: 16px;

        button {
          height: 32px;
        }
      }
    }
  }

  main {
    max-width: 800px;
    margin: 0 auto;
    display: block;

    .room-title {
      margin: 32px 0 24px;
      display: flex;
      align-items: center;

      h1 {
        font-family: "Poppins", sans-serif;
        font-size: 24px;
      }

      span {
        margin-left: 16px;
        background: #e559f9;
        border-radius: 9999px;
        padding: 8px 15px;
        color: whitesmoke;
        font-weight: 500;
        font-size: 14px;
      }
    }

    form {
      textarea {
        width: 100%;
        border: 0;
        padding: 16px;
        border-radius: 1px;
        background: #fefefe;
        box-shadow: 0 2px 12px rgb(211, 211, 211);
        resize: vertical;
        min-height: 130px;
      }

      .form-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 16px;

        .user-info {
          display: flex;
          align-items: center;
          img {
            width: 32px;
            height: 32px;
            border-radius: 50px;
          }

          span {
            margin-left: 8px;
            color: rgb(75, 75, 75);
            font-weight: 500;
            font-size: 14px;
          }
        }

        > span {
          font-size: 14px;
          color: #737380;
          font-weight: 500;

          button {
            background: transparent;
            border: 0;
            color: #e35afd;
            text-decoration: underline;
            font-size: 14px;
            cursor: pointer;
          }
        }
      }
    }
    .question-list {
      margin-top: 32px;
      display: flex;
      flex-direction: column-reverse;
      box-shadow: 0 2px 12px rgb(211, 211, 211);
    }
  }

  .answer-container {
    width: 100%;
    height: 100vh;

    display: flex;
    margin: 0;
    background: rgba(50, 50, 50, 0.7);

    position: fixed;
    z-index: 9999;
    overflow-y: scroll;

    .answer-modal {
      width: 800px;
      height: auto;

      margin: auto;

      padding: 20px;
      display: block;

      justify-content: center;

      background: white;
    }

    .answer-modal .question-list {
      max-width: 700px;
      margin: auto;
      border-radius: 0px;
      
    }
    
    .answer-modal button {
      width: 700px;
      display: flex;
      margin: 0 auto;
      border-radius: 2px;
    }

    .answer-modal textarea {
      width: 100%;
      max-width: 700px;
      min-height: 130px;

      margin: 30px auto;
      display: flex;
      border: 0;
      padding: 16px;

      border-radius: 1px;

      background: #f0f0f0;
      border-radius: 2px;
      box-shadow: 0 2px 12px rgb(211, 211, 211);

      resize: none;
    }
  }
}
